body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    background: #000000;
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 75px;
    color: #ffffff;
    opacity: 0.85;
}

button {
    width: 5em;
    height: 2em;
    margin-top: 20px;
    margin-left: 5em;
    padding: .5em .5em;
    color: #bbb4b4;
    background: #262525;
    border: 1px solid #929090;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
    transition: box-shadow .4s;
}

button:hover {
    box-shadow: 0 0 30px 5px rgba(202, 198, 198, 0.75);
}

button:disabled {
    background-color: #d32d2d;
    cursor: not-allowed;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 3px;
    height: 100px;
    margin: 0 7px;
    background: currentColor;
    transform: scaleY(.65);
    opacity: 0.25;
}

main.error {
    color: #c84e33;
    min-width: 20em;
    max-width: 30em;
    margin: 0 auto;
    white-space: pre-line;
}

#transcript {
    position: fixed;
    margin-left: 27%;
    font-size: x-large;
}

textarea {
    display: block;
    margin: 20px auto;
    height: 250px;
    width: 50%;
    border-radius: 6px;
    border: 1px solid #ede6e6;
    font-family: "Nanum Gothic", sans-serif;
    font-size: medium;
    font-style: italic;
}

.download {
    display: block;
    margin: 20px auto;
    width: 7em;
    height: 2em;
    padding: .5em .5em;
    color: #bbb4b4;
    background: #cc1010;
    border: 1px solid #929090;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
    transition: box-shadow .4s;
}

.download:hover {
    background: #940505;
    box-shadow: 0 0 10px 0px rgba(72, 21, 21, 0.75);
}